In [1]:
import numpy as np
import pandas as pd
import json
import dill         # 0.3.2
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split

## Set Global/Environment Variables

In [2]:
model_name = "STREAM+GEMM"

## Load Dataset/Static Param List

In [3]:
STREAM_dataset = pd.concat([pd.read_csv("../로그 데이터/STREAM/STREAM/stream_4034_generic2_{}.csv".format(i), dtype=np.object) for i in reversed(range(1, 11))], axis=0)
STREAM_dataset

,extra,time,address_type,gpa,rip,vmid
0,[336633.698810],04:01:00:854206,PF,251797631,18446744072449302655,4034
1,[336633.739463],04:01:00:894857,PF,1007005696,18446744072452043863,4034
2,[336633.867033],04:01:01:022428,PF,906555392,18446744072452043863,4034
3,[336633.901503],04:01:01:056898,PF,1914261504,18446744072452043863,4034
4,[336633.904886],04:01:01:060282,PF,259330048,18446744072452043863,4034
...,...,...,...,...,...,...
180309,[ 1806.225725],07:00:33:381360,PF,602140104,139790387006578,4034
180310,[ 1806.225827],07:00:33:381465,PF,597469140,18446744072443263295,4034
180311,[ 1806.240176],07:00:33:395810,PF,596315344,18446744072442219334,4034
180312,[ 1806.240198],07:00:33:395836,PF,597544452,18446744072441579461,4034
180313,[ 1806.401068],07:00:33:556702,PF,603197568,139675253067982,4034

In [4]:
STREAM_dataset = STREAM_dataset[["gpa", "rip"]].dropna()       # rip for PCs
STREAM_dataset

               gpa                   rip
0        251797631  18446744072449302655
1       1007005696  18446744072452043863
2        906555392  18446744072452043863
3       1914261504  18446744072452043863
4        259330048  18446744072452043863
...            ...                   ...
180309   602140104       139790387006578
180310   597469140  18446744072443263295
180311   596315344  18446744072442219334
180312   597544452  18446744072441579461
180313   603197568       139675253067982

[4156988 rows x 2 columns]

In [5]:
GEMM_dataset = pd.concat([pd.read_csv("../로그 데이터/GEMM/gem_3214_generic_{}.csv".format(i), dtype=np.object) for i in reversed(range(1, 11))], axis=0)
GEMM_dataset

,extra,time,address_type,gpa,rip,vmid
0,[601757.292075],06:00:51:525554,PF,14190604288,15410752,3214
1,[601757.297013],06:00:51:530492,PF,14352732392,140316942991300,3214
2,[601757.337978],06:00:51:571456,PF,14121463808,15410776,3214
3,[601757.368684],06:00:51:602162,PF,14120734720,15410764,3214
4,[601757.376568],06:00:51:610048,PF,14120828928,15410764,3214
...,...,...,...,...,...,...
400591,[ 1946.373117],07:24:00:468967,GPA,8620549134,18446744071888380942,3214
400592,[ 1946.373123],07:24:00:468972,GPA,22541025656,18446744071888380942,3214
400593,[ 1946.373157],07:24:00:469006,GPA,8620549134,18446744071888380942,3214
400594,[ 1946.373422],07:24:00:469266,GPA,8620548801,18446744071888380609,3214
400595,[ 1946.373454],07:24:00:469301,GPA,22638145536,18446744071888380609,3214

In [6]:
GEMM_dataset = GEMM_dataset[["gpa", "rip"]].dropna()       # rip for PCs
GEMM_dataset

                gpa                   rip
0       14190604288              15410752
1       14352732392       140316942991300
2       14121463808              15410776
3       14120734720              15410764
4       14120828928              15410764
...             ...                   ...
400591   8620549134  18446744071888380942
400592  22541025656  18446744071888380942
400593   8620549134  18446744071888380942
400594   8620548801  18446744071888380609
400595  22638145536  18446744071888380609

[2332869 rows x 2 columns]

In [7]:
original_dataset = pd.concat([STREAM_dataset, GEMM_dataset], ignore_index=True)
original_dataset

                 gpa                   rip
0          251797631  18446744072449302655
1         1007005696  18446744072452043863
2          906555392  18446744072452043863
3         1914261504  18446744072452043863
4          259330048  18446744072452043863
...              ...                   ...
6489852   8620549134  18446744071888380942
6489853  22541025656  18446744071888380942
6489854   8620549134  18446744071888380942
6489855   8620548801  18446744071888380609
6489856  22638145536  18446744071888380609

[6489857 rows x 2 columns]

## Dataset Processing Functions

In [8]:
class CalculateDelta(TransformerMixin):
    def __init__(self):
        pass

    def fit(self, X, y=None):
        return self
        
    def transform(self, X, y=None):
        X_transformed = X[:-1] - X[1:]
        # In case of unsigned types, change its type to string type
        if X_transformed.dtype in [np.uint8, np.uint16, np.uint32, np.uint64]:
            X_transformed = X_transformed.astype(np.string_)
        return X_transformed

    def inverse_transform(self, X, y=None):     # Just for test_pipeline.inverse_transform()
        return X

## Process Train/Validation Dataset

In [9]:
# Train / Val / Test Ratio : 70% / 15% / 15%
train_val_set, test_set = train_test_split(original_dataset, test_size=0.15, shuffle=False)
#train_set, val_set = train_test_split(train_val_set, test_size=0.2, shuffle=False)

In [10]:
train_val_gpa = train_val_set["gpa"].values.astype(np.int64)
train_val_rip = train_val_set["rip"].values.astype(np.uint64)      # As uint64 not exists in pandas

test_gpa = test_set["gpa"].values.astype(np.int64)
test_rip = test_set["rip"].values.astype(np.uint64)      # As uint64 not exists in pandas

In [11]:
calculate_delta = CalculateDelta()

In [12]:
processed_train_val_gpa = calculate_delta.fit_transform(train_val_gpa.copy())
processed_train_val_gpa

array([ -755208065,   100450304, -1007706112, ...,       -4096,
             -4096,       -4096], dtype=int64)

In [13]:
processed_train_val_rip = calculate_delta.transform(train_val_rip)
processed_train_val_rip

array([b'18446744073706810408', b'0', b'0', ..., b'0', b'0', b'0'],
      dtype='|S20')

In [14]:
pd.Series(processed_train_val_gpa).value_counts(), pd.Series(processed_train_val_rip).value_counts()

(-4096          1184303
  0              602811
 -1638400         67622
 -12288           51913
 -1896448         30291
                 ...
  4841376             1
  113967044           1
 -1568910655          1
  676028400           1
 -7845624             1
 Length: 849143, dtype: int64,
 b'0'                       3829673
 b'18446744073709551604'      67421
 b'18446744073709551579'      42191
 b'18446744073709551605'      38328
 b'37'                        37913
                             ...
 b'18446744073581718413'          1
 b'18446604282104620087'          1
 b'254177968'                     1
 b'18446744073708949064'          1
 b'18446744073573825528'          1
 Length: 67054, dtype: int64)

In [15]:
# Index = Occurence | Column = Number of included categories
pd.Series(processed_train_val_gpa).value_counts().value_counts(), pd.Series(processed_train_val_rip).value_counts().value_counts()

(1       487890
 2       146278
 3        75690
 4        39983
 5        21499
          ...
 2349         1
 1326         1
 304          1
 306          1
 2048         1
 Length: 615, dtype: int64,
 1       51034
 2        6241
 3        2358
 4        1389
 5         881
         ...
 614         1
 742         1
 7973        1
 1830        1
 607         1
 Length: 666, dtype: int64)

## gpa : N / P ratio

In [16]:
gpa_data = []
for gpa_threshold in range(50):
    row = []
    
    row.append(gpa_threshold)
    if gpa_threshold == 0:
        gpa_p = len(pd.Series(processed_train_val_gpa).value_counts())
        previous_gpa_p = gpa_p
        previous_accuracy = 0
        previous_ratio = 0
    else:
        gpa_p = len(pd.Series(processed_train_val_gpa).value_counts()) - sum(pd.Series(processed_train_val_gpa).value_counts().value_counts().loc[list(range(1, gpa_threshold+1))].values) + 1
    row.append(gpa_p)
    row.append(previous_gpa_p - gpa_p)
    previous_gpa_p = gpa_p
    ratio = processed_train_val_gpa.shape[0] / gpa_p
    row.append(ratio)
    row.append(ratio - previous_ratio)
    previous_ratio = ratio
    accuracy = sum(pd.Series(processed_train_val_gpa).value_counts().value_counts().loc[list(range(1, gpa_threshold+1))].values * pd.Series(processed_train_val_gpa).value_counts().value_counts().loc[list(range(1, gpa_threshold+1))].index) / (processed_train_val_gpa.shape[0])
    row.append(accuracy)
    row.append(accuracy - previous_accuracy)
    previous_accuracy = accuracy

    gpa_data.append(row)

df_gpa_threshold = pd.DataFrame(data=gpa_data, columns=["threshold", "p", "p'", "n/p ratio", "ratio'", "upper limit for train/val accuracy", "accuracy'"])

In [17]:
df_gpa_threshold

,threshold,p,p',n/p ratio,ratio',upper limit for train/val accuracy,accuracy'
0,0,849143,0,6.496405,6.496405,0.000000,0.000000
1,1,361254,487889,15.270079,8.773673,0.088444,0.088444
2,2,214976,146278,25.660432,10.390353,0.141478,0.053034
3,3,139286,75690,39.604677,13.944245,0.182641,0.041163
4,4,99303,39983,55.550960,15.946283,0.211633,0.028992
5,5,77804,21499,70.900943,15.349983,0.231120,0.019487
6,6,65202,12602,84.604414,13.703471,0.244826,0.013707
7,7,57228,7974,96.392972,11.788558,0.254945,0.010119
8,8,51686,5542,106.728650,10.335678,0.262982,0.008037
9,9,47468,4218,116.212543,9.483893,0.269864,0.006882
10,10,44043,3425,125.249801,9.037258,0.276073,0.006209
11,11,41100,2943,134.218418,8.968617,0.281941,0.005869
12,12,38548,2552,143.104104,8.885685,0.287493,0.005551
13,13,36302,2246,151.957936,8.853832,0.292786,0.005293
14,14,34265,2037,160.991595,9.033659,0.297955,0.005170
15,15,32436,1829,170.069583,9.077988,0.302929,0.004973
16,16,30748,1688,179.406043,9.336459,0.307825,0.004896
17,17,29275,1473,188.433032,9.026989,0.312364,0.004539
18,18,27793,1482,198.480805,10.047773,0.317200,0.004836
19,19,26444,1349,208.605998,10.125193,0.321846,0.004646
20,20,25215,1229,218.773627,10.167629,0.326302,0.004456
21,21,24079,1136,229.094937,10.321311,0.330627,0.004325
22,22,22995,1084,239.894629,10.799692,0.334950,0.004323
23,23,21941,1054,251.418668,11.524039,0.339344,0.004395
24,24,21029,912,262.322364,10.903696,0.343312,0.003968
25,25,20145,884,273.833557,11.511192,0.347318,0.004006
26,26,19332,813,285.349524,11.515967,0.351150,0.003832
27,27,18533,799,297.651594,12.302070,0.355061,0.003911
28,28,17818,715,309.595746,11.944151,0.358690,0.003629
29,29,17116,702,322.293585,12.697839,0.362381,0.003690
30,30,16462,654,335.097619,12.804034,0.365937,0.003557
31,31,15861,601,347.795032,12.697413,0.369315,0.003377
32,32,15262,599,361.445223,13.650192,0.372789,0.003475
33,33,14734,528,374.397787,12.952564,0.375948,0.003159
34,34,14162,572,389.519630,15.121843,0.379474,0.003526
35,35,13660,502,403.834334,14.314704,0.382659,0.003185
36,36,13183,477,418.446257,14.611923,0.385771,0.003113
37,37,12732,451,433.268693,14.822437,0.388796,0.003025
38,38,12295,437,448.668320,15.399627,0.391807,0.003010
39,39,11833,462,466.185836,17.517516,0.395073,0.003266
40,40,11401,432,483.850276,17.664440,0.398206,0.003132
41,41,11020,381,500.578675,16.728399,0.401037,0.002832
42,42,10609,411,519.971439,19.392764,0.404167,0.003129
43,43,10241,368,538.656088,18.684649,0.407035,0.002869
44,44,9886,355,557.998887,19.342799,0.409867,0.002832
45,45,9539,347,578.297201,20.298314,0.412697,0.002831
46,46,9241,298,596.945893,18.648692,0.415182,0.002485
47,47,8936,305,617.320613,20.374720,0.417781,0.002599
48,48,8657,279,637.215779,19.895166,0.420209,0.002428
49,49,8398,259,656.867945,19.652166,0.422509,0.002301

## rip : N / P ratio

In [18]:
rip_data = []
for rip_threshold in range(50):
    row = []
    
    row.append(rip_threshold)
    if rip_threshold == 0:
        rip_p = len(pd.Series(processed_train_val_rip).value_counts())
        previous_rip_p = rip_p
        previous_accuracy = 0
        previous_ratio = 0
    else:
        rip_p = len(pd.Series(processed_train_val_rip).value_counts()) - sum(pd.Series(processed_train_val_rip).value_counts().value_counts().loc[list(range(1, rip_threshold+1))].values) + 1
    row.append(rip_p)
    row.append(previous_rip_p - rip_p)
    previous_rip_p = rip_p
    ratio = processed_train_val_rip.shape[0] / rip_p
    row.append(ratio)
    row.append(ratio - previous_ratio)
    previous_ratio = ratio
    accuracy = sum(pd.Series(processed_train_val_rip).value_counts().value_counts().loc[list(range(1, rip_threshold+1))].values * pd.Series(processed_train_val_rip).value_counts().value_counts().loc[list(range(1, rip_threshold+1))].index) / (processed_train_val_rip.shape[0])
    row.append(accuracy)
    row.append(accuracy - previous_accuracy)
    previous_accuracy = accuracy

    rip_data.append(row)

df_rip_threshold = pd.DataFrame(data=rip_data, columns=["threshold", "p", "p'", "n/p ratio", "ratio'", "upper limit for train/val accuracy", "accuracy'"])

In [19]:
df_rip_threshold

,threshold,p,p',n/p ratio,ratio',upper limit for train/val accuracy,accuracy'
0,0,67054,0,82.267680,82.267680,0.000000,0.000000
1,1,16021,51033,344.321640,262.053961,0.009251,0.009251
2,2,9780,6241,564.046728,219.725088,0.011514,0.002263
3,3,7422,2358,743.246699,179.199971,0.012796,0.001282
4,4,6033,1389,914.367147,171.120448,0.013804,0.001007
5,5,5152,881,1070.725349,156.358202,0.014602,0.000799
6,6,4500,652,1225.861556,155.136206,0.015311,0.000709
7,7,3956,544,1394.433013,168.571458,0.016002,0.000690
8,8,3515,441,1569.381792,174.948779,0.016641,0.000640
9,9,3190,325,1729.271787,159.889995,0.017171,0.000530
10,10,2923,267,1887.231269,157.959482,0.017655,0.000484
11,11,2690,233,2050.697770,163.466500,0.018120,0.000465
12,12,2489,201,2216.302531,165.604762,0.018557,0.000437
13,13,2314,175,2383.914002,167.611471,0.018970,0.000412
14,14,2178,136,2532.771809,148.857807,0.019315,0.000345
15,15,2070,108,2664.916425,132.144616,0.019609,0.000294
16,16,1971,99,2798.770675,133.854250,0.019896,0.000287
17,17,1894,77,2912.553854,113.783179,0.020133,0.000237
18,18,1828,66,3017.711707,105.157853,0.020348,0.000215
19,19,1754,74,3145.026796,127.315089,0.020603,0.000255
20,20,1685,69,3273.814243,128.787447,0.020853,0.000250
21,21,1636,49,3371.868582,98.054339,0.021040,0.000187
22,22,1586,50,3478.169609,106.301027,0.021239,0.000199
23,23,1533,53,3598.419439,120.249830,0.021460,0.000221
24,24,1492,41,3697.303619,98.884180,0.021639,0.000178
25,25,1465,27,3765.445051,68.141432,0.021761,0.000122
26,26,1440,25,3830.817361,65.372310,0.021879,0.000118
27,27,1409,31,3915.100781,84.283420,0.022031,0.000152
28,28,1373,36,4017.754552,102.653771,0.022213,0.000183
29,29,1347,26,4095.305865,77.551313,0.022350,0.000137
30,30,1326,21,4160.163650,64.857785,0.022464,0.000114
31,31,1297,29,4253.181958,93.018308,0.022627,0.000163
32,32,1277,20,4319.794049,66.612090,0.022743,0.000116
33,33,1252,25,4406.051917,86.257868,0.022893,0.000150
34,34,1232,20,4477.578734,71.526817,0.023016,0.000123
35,35,1213,19,4547.713932,70.135199,0.023137,0.000121
36,36,1193,20,4623.953898,76.239965,0.023267,0.000131
37,37,1180,13,4674.895763,50.941865,0.023354,0.000087
38,38,1161,19,4751.401378,76.505615,0.023485,0.000131
39,39,1142,19,4830.452715,79.051336,0.023619,0.000134
40,40,1127,15,4894.744454,64.291740,0.023728,0.000109
41,41,1113,14,4956.313567,61.569113,0.023832,0.000104
42,42,1104,9,4996.718297,40.404730,0.023901,0.000069
43,43,1091,13,5056.257562,59.539265,0.024002,0.000101
44,44,1083,8,5093.607572,37.350010,0.024066,0.000064
45,45,1072,11,5145.874067,52.266496,0.024156,0.000090
46,46,1061,11,5199.224317,53.350250,0.024247,0.000092
47,47,1051,10,5248.693625,49.469308,0.024333,0.000085
48,48,1045,6,5278.829665,30.136040,0.024385,0.000052
49,49,1034,11,5334.987427,56.157762,0.024483,0.000098

## Save Analysis

In [20]:
df_gpa_threshold.to_csv("analysis/{}_gpa_analysis.csv".format(model_name), index=False)
df_rip_threshold.to_csv("analysis/{}_rip_analysis.csv".format(model_name), index=False)