In [1]:
import numpy as np
import pandas as pd
import json
import dill         # 0.3.2
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split

## Set Global/Environment Variables

In [2]:
model_name = "GEMM_STREAM"

## Load Dataset/Static Param List

In [3]:
original_dataset = pd.concat([pd.read_csv("../로그 데이터/GEMM_STREAM/GEMM_STREAM/gemm_stream_generic_generic2_{}.csv".format(i), dtype=np.object) for i in range(1, 10)], axis=0)
original_dataset

,extra,time,address_type,gpa,rip,vmid
0,[861367.505406],05:46:34:647695,PF,988827648,18446744072452043863,4034
1,[861367.505455],05:46:34:647744,PF,705122304,18446744072452043863,4034
2,[861367.505459],05:46:34:647748,PF,705122304,18446744072452043863,4034
3,[861367.505464],05:46:34:647754,PF,1227321344,18446744072452043863,4034
4,[861367.505468],05:46:34:647757,PF,1227321344,18446744072452043863,4034
...,...,...,...,...,...,...
407242,[957446.819051],08:27:53:959834,PF,20453990400,18446744072506569815,17926
407243,[957446.865342],08:27:54:006124,PF,20453994496,18446744072506569815,17926
407244,[957446.865354],08:27:54:006138,PF,20453998592,18446744072506569815,17926
407245,[957446.865359],08:27:54:006143,PF,20454002688,18446744072506569815,17926
407246,[957446.865362],08:27:54:006146,PF,20454006784,18446744072506569815,17926

In [4]:
original_dataset = original_dataset[["gpa", "rip"]].dropna()       # rip for PCs
original_dataset

                gpa                   rip
0         988827648  18446744072452043863
1         705122304  18446744072452043863
2         705122304  18446744072452043863
3        1227321344  18446744072452043863
4        1227321344  18446744072452043863
...             ...                   ...
407242  20453990400  18446744072506569815
407243  20453994496  18446744072506569815
407244  20453998592  18446744072506569815
407245  20454002688  18446744072506569815
407246  20454006784  18446744072506569815

[9131603 rows x 2 columns]

## Dataset Processing Functions

In [5]:
class CalculateDelta(TransformerMixin):
    def __init__(self):
        pass

    def fit(self, X, y=None):
        return self
        
    def transform(self, X, y=None):
        X_transformed = X[:-1] - X[1:]
        # In case of unsigned types, change its type to string type
        if X_transformed.dtype in [np.uint8, np.uint16, np.uint32, np.uint64]:
            X_transformed = X_transformed.astype(np.string_)
        return X_transformed

    def inverse_transform(self, X, y=None):     # Just for test_pipeline.inverse_transform()
        return X

## Process Train/Validation Dataset

In [6]:
# Train / Val / Test Ratio : 70% / 15% / 15%
train_val_set, test_set = train_test_split(original_dataset, test_size=0.15, shuffle=False)
#train_set, val_set = train_test_split(train_val_set, test_size=0.2, shuffle=False)

In [7]:
train_val_gpa = train_val_set["gpa"].values.astype(np.int64)
train_val_rip = train_val_set["rip"].values.astype(np.uint64)      # As uint64 not exists in pandas

test_gpa = test_set["gpa"].values.astype(np.int64)
test_rip = test_set["rip"].values.astype(np.uint64)      # As uint64 not exists in pandas

In [8]:
calculate_delta = CalculateDelta()

In [9]:
processed_train_val_gpa = calculate_delta.fit_transform(train_val_gpa.copy())
processed_train_val_gpa

array([ 283705344,          0, -522199040, ...,  202375168,          0,
       -143433728], dtype=int64)

In [10]:
processed_train_val_rip = calculate_delta.transform(train_val_rip)
processed_train_val_rip

array([b'0', b'0', b'0', ..., b'0', b'0', b'0'], dtype='|S20')

In [11]:
pd.Series(processed_train_val_gpa).value_counts(), pd.Series(processed_train_val_rip).value_counts()

(-4096          2279684
  0             1414252
 -1638400        169636
 -1896448         72617
 -8192            41617
                 ...
 -3494043644          1
 -490897392           1
 -7745351680          1
  4063200             1
  1425715200          1
 Length: 1124931, dtype: int64,
 b'0'                       5424746
 b'18446744073709551604'     241034
 b'18446744073709551605'     131801
 b'35'                       114156
 b'12'                        85491
                             ...
 b'18446744073574749381'          1
 b'45586976695614'                1
 b'18446744073709196551'          1
 b'18446744073709542812'          1
 b'865040'                        1
 Length: 63512, dtype: int64)

In [12]:
# Index = Occurence | Column = Number of included categories
pd.Series(processed_train_val_gpa).value_counts().value_counts(), pd.Series(processed_train_val_rip).value_counts().value_counts()

(1        865165
 2        114501
 3         44038
 4         23992
 5         15488
           ...
 310           1
 13616         1
 6452          1
 311           1
 1019          1
 Length: 869, dtype: int64,
 1          46006
 2           6986
 3           2698
 4           1480
 5            983
            ...
 1074           1
 5424746        1
 1650           1
 2002           1
 303            1
 Length: 608, dtype: int64)

## gpa : N / P ratio

In [13]:
gpa_data = []
for gpa_threshold in range(30):
    row = []
    
    row.append(gpa_threshold)
    if gpa_threshold == 0:
        gpa_p = len(pd.Series(processed_train_val_gpa).value_counts())
        previous_gpa_p = gpa_p
        previous_accuracy = 0
    else:
        gpa_p = len(pd.Series(processed_train_val_gpa).value_counts()) - sum(pd.Series(processed_train_val_gpa).value_counts().value_counts().loc[list(range(1, gpa_threshold+1))].values) + 1
    row.append(gpa_p)
    row.append(previous_gpa_p - gpa_p)
    previous_gpa_p = gpa_p
    row.append(processed_train_val_gpa.shape[0] / gpa_p)
    accuracy = sum(pd.Series(processed_train_val_gpa).value_counts().value_counts().loc[list(range(1, gpa_threshold+1))].values * pd.Series(processed_train_val_gpa).value_counts().value_counts().loc[list(range(1, gpa_threshold+1))].index) / (processed_train_val_gpa.shape[0])
    row.append(accuracy)
    row.append(accuracy - previous_accuracy)
    previous_accuracy = accuracy

    gpa_data.append(row)

df_gpa_threshold = pd.DataFrame(data=gpa_data, columns=["threshold", "p", "p'", "n/p ratio", "upper limit for train/val accuracy", "accuracy'"])

In [14]:
df_gpa_threshold

,threshold,p,p',n/p ratio,upper limit for train/val accuracy,accuracy'
0,0,1124931,0,6.899855,0.000000,0.000000
1,1,259767,865164,29.880089,0.111464,0.111464
2,2,145266,114501,53.432056,0.140967,0.029503
3,3,101228,44038,76.677016,0.157988,0.017021
4,4,77236,23992,100.495378,0.170352,0.012364
5,5,61748,15488,125.702225,0.180329,0.009977
6,6,50455,11293,153.837301,0.189059,0.008730
7,7,41906,8549,185.220756,0.196769,0.007710
8,8,35364,6542,219.484815,0.203511,0.006743
9,9,30289,5075,256.260061,0.209396,0.005885
10,10,26346,3943,294.612503,0.214476,0.005080
11,11,23123,3223,335.677075,0.219043,0.004568
12,12,20592,2531,376.935752,0.222956,0.003913
13,13,18327,2265,423.520543,0.226750,0.003794
14,14,16597,1730,467.666506,0.229870,0.003120
15,15,15051,1546,515.704006,0.232858,0.002988
16,16,13764,1287,563.924804,0.235511,0.002653
17,17,12738,1026,609.346915,0.237758,0.002247
18,18,11811,927,657.172212,0.239908,0.002150
19,19,10975,836,707.231071,0.241954,0.002046
20,20,10269,706,755.853637,0.243773,0.001819
21,21,9649,620,804.421287,0.245451,0.001677
22,22,9065,584,856.245008,0.247106,0.001655
23,23,8528,537,910.161937,0.248697,0.001591
24,24,8069,459,961.935928,0.250117,0.001419
25,25,7661,408,1013.165514,0.251431,0.001314
26,26,7305,356,1062.540862,0.252623,0.001192
27,27,6966,339,1114.249354,0.253802,0.001179
28,28,6647,319,1167.723936,0.254953,0.001151
29,29,6345,302,1223.303546,0.256081,0.001128

## rip : N / P ratio

In [15]:
rip_data = []
for rip_threshold in range(30):
    row = []
    
    row.append(rip_threshold)
    if rip_threshold == 0:
        rip_p = len(pd.Series(processed_train_val_rip).value_counts())
        previous_rip_p = rip_p
        previous_accuracy = 0
    else:
        rip_p = len(pd.Series(processed_train_val_rip).value_counts()) - sum(pd.Series(processed_train_val_rip).value_counts().value_counts().loc[list(range(1, rip_threshold+1))].values) + 1
    row.append(rip_p)
    row.append(previous_rip_p - rip_p)
    previous_rip_p = rip_p
    row.append(processed_train_val_rip.shape[0] / rip_p)
    accuracy = sum(pd.Series(processed_train_val_rip).value_counts().value_counts().loc[list(range(1, rip_threshold+1))].values * pd.Series(processed_train_val_rip).value_counts().value_counts().loc[list(range(1, rip_threshold+1))].index) / (processed_train_val_rip.shape[0])
    row.append(accuracy)
    row.append(accuracy - previous_accuracy)
    previous_accuracy = accuracy

    rip_data.append(row)

df_rip_threshold = pd.DataFrame(data=rip_data, columns=["threshold", "p", "p'", "n/p ratio", "upper limit for train/val accuracy", "accuracy'"])

In [16]:
df_rip_threshold

,threshold,p,p',n/p ratio,upper limit for train/val accuracy,accuracy'
0,0,63512,0,122.210937,0.000000,0.000000
1,1,17507,46005,443.357571,0.005927,0.005927
2,2,10521,6986,737.749358,0.007727,0.001800
3,3,7823,2698,992.184712,0.008770,0.001043
4,4,6343,1480,1223.689264,0.009533,0.000763
5,5,5360,983,1448.108396,0.010166,0.000633
6,6,4661,699,1665.278052,0.010706,0.000540
7,7,4174,487,1859.573790,0.011146,0.000439
8,8,3800,374,2042.595000,0.011531,0.000385
9,9,3490,310,2224.028940,0.011890,0.000359
10,10,3237,253,2397.856348,0.012216,0.000326
11,11,3043,194,2550.726586,0.012491,0.000275
12,12,2863,180,2711.093608,0.012770,0.000278
13,13,2690,173,2885.450186,0.013059,0.000290
14,14,2544,146,3051.045991,0.013323,0.000263
15,15,2432,112,3191.554688,0.013539,0.000216
16,16,2333,99,3326.987141,0.013743,0.000204
17,17,2236,97,3471.315295,0.013956,0.000212
18,18,2139,97,3628.733520,0.014181,0.000225
19,19,2069,70,3751.503625,0.014352,0.000171
20,20,2006,63,3869.322532,0.014514,0.000162
21,21,1947,59,3986.574730,0.014674,0.000160
22,22,1885,62,4117.698143,0.014850,0.000176
23,23,1826,59,4250.745345,0.015024,0.000175
24,24,1765,61,4397.654958,0.015213,0.000189
25,25,1723,42,4504.852583,0.015348,0.000135
26,26,1654,69,4692.781741,0.015580,0.000231
27,27,1609,45,4824.027968,0.015736,0.000157
28,28,1563,46,4966.001919,0.015902,0.000166
29,29,1512,51,5133.505952,0.016093,0.000191

## Save Analysis

In [17]:
df_gpa_threshold.to_csv("analysis/{}_gpa_analysis.csv".format(model_name), index=False)
df_rip_threshold.to_csv("analysis/{}_rip_analysis.csv".format(model_name), index=False)